
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
      <h5 class="my-0 mr-md-auto font-weight-normal">Slim Framework</h5>
      {% if auth.check %}
        <a class="" href="javascript:return false;">{{ auth.user.name }}</a> &nbsp; 
        <a class="btn btn-info" href="{{ path_for('auth.password.change') }}">Profile</a> &nbsp; 
        <a class="btn btn-danger" href="{{ path_for('auth.signout') }}">Sign out</a>
       {% else %}
        <a class="btn btn-primary" href="{{ path_for('auth.signup') }}">Sign up</a> &nbsp; 
        <a class="btn btn-success" href="{{ path_for('auth.signin') }}">Sign in</a>
       {% endif %}     

    </div>